# Custom API Endpoint for WhatsApp
CUSTOM_API_ENDPOINT=

# Minimum delay between messages (in milliseconds)
MIN_DELAY_MS=2000

# Maximum delay between messages (in milliseconds)
MAX_DELAY_MS=10000

# Path to the CSV file
CSV_FILE_PATH=./data/messages.csv
