# Custom API Endpoint for WhatsApp
CUSTOM_API_ENDPOINT=

# Minimum delay between messages (in milliseconds)
MIN_DELAY_MS=2000

# Maximum delay between messages (in milliseconds)
MAX_DELAY_MS=10000

# Path to the CSV file
CSV_FILE_PATH=./data/messages.csv

# Evolution API Configuration
EVOLUTION_API_URL=http://localhost:8081
EVOLUTION_API_INSTANCE_NAME=+447435406281
EVOLUTION_API_KEY=852344446D36B23DEBF3A33C1DEAFB05